*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color:rgb(227, 236, 240);
    color: rgb(104, 94, 94);
}
form input{
    width:70%;
    margin-left: 10%;
    border: none;
    outline: none;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(129, 120, 120);
    background-color:rgb(227, 236, 240);
    color: rgb(104, 94, 94);
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-size:24px;

}
form input:placeholder{
    /* background-color:rgb(227, 236, 240); */
    color: rgb(104, 94, 94);
    font-weight: 400;
    font-size: 24px;
}
form h1{
    margin-left: 10%;
    margin-top: 7%;
    font-weight: 400;
    padding-bottom: 2rem;
    font-size: 64px;
}
form input:focus{
    outline: none;
}

form button{
    display: block;
    padding: 0.5rem 2rem;
    margin-left: 10%;
    font-weight: 400;
    font-size: 24px;
    margin-top: 2rem;

}



.error{
    margin-left:10%;
    color: red;
    font-size: 24px;
    font-weight: 400;
}
.success{
    margin-left:10%;
    color:green;
    font-size: 24px;
    font-weight: 400;
}